# Pandas
python's version of excel, or pythons version of r data frames

## Series

In [3]:
import pandas as pd
import numpy as np

labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d= {'a':10, 'b':20, 'c':30}

pd.Series(data = my_data)

pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [2]:
pd.Series(my_data,labels)

ser1 = pd.Series([1,2,3,4],['U','A','B','C'])

ser1['U']

1

In [ ]:
pandas always converts integers to floats

## Data Frames
the true workhorse of pandas

In [ ]:
from numpy.random import randn
np.random.seed(101)

df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])
df

In [ ]:
rows and columns are sets of series that share the same index!!!

In [ ]:
df['W']

df[['W','Z']]

type(df['W']) # check what kind of data structure you're using

df['new'] = df['W']+df['Y']

df

df.drop('new', axis=1)

df.loc['C']

df.iloc[2]

df.loc['B','Y']

df.loc[['A','B'],['W','Y']]

In [ ]:
conditional selection using bracket notation

In [ ]:
df[df>0]

df[df['W']>0]

df[df['W']>0][['Y','X']] # this type of notation doesn require memory, whereas the same thing written with definitions does

In [ ]:
you can't use the normal and operator, you have to use & for lists - since pythons boolean can only handle one thing at a time

In [ ]:
df[(df['W']>0) | (df['Y']>1)]

df[(df['W']>0) & (df['Y']>1)]

# df.drop(['level_0','index','new'], axis=1, inplace=True)

df

states = 'UT AZ NV CA WA'.split()

df['States'] = states

# for SF salaries dataset
# sal.loc[sal['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']
# sal.groupby('Year').mean()['BasePay']
# sal['JobTitle'].value_counts().head(5)
# sum(sal[sal['Year']==2013]['JobTitle'].value_counts()==1)

df.set_index('States')

In [ ]:
multi-index and index hierarchy

In [ ]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

df

df.loc['G1']

df.index.names = ['Groups','Num']

df

df.loc['G1'].loc[3]['A']

df.xs(1,level='Num') # has the ability to skip or go inside a dataframe

Missing Data

d = {'A':[1,2,np.nan],'B':[5,np.nan,np.nan],'C':[1,2,3]}

df = pd.DataFrame(d)

df

df.dropna(axis=1)

df.dropna()

df.dropna(thresh=2)

df['A'].fillna(value=df['A'].mean())

data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}

df = pd.DataFrame(data)
byComp = df.groupby('Company')

byComp.mean()

byComp.sum()

byComp.sum().loc['FB']

df.groupby('Company').describe().transpose()

df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[4, 5, 6, 7]) 

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[8, 9, 10, 11])

pd.concat([df1,df2,df3])

left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
   
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})

pd.merge(left,right,how='inner',on='key')

joining - keys you want to join on are index rather than columns

left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index=['K0', 'K1', 'K2']) 

right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                    'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])

left.join(right)

import pandas as pd
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df.head()

df['col2'].unique()

df['col2'].nunique()

def times2(x):
    return x*2

df['col1'].apply(times2)

df['col1'].apply(lambda x: x*2)

df.columns

df.sort_values('col2')

data = {'A':['foo','foo','foo','bar','bar','bar'],
     'B':['one','one','two','two','one','one'],
       'C':['x','y','x','y','x','y'],
       'D':[1,3,2,5,4,1]}

df = pd.DataFrame(data)

df.pivot_table(values='D',index=['A','B'],columns=['C'])

pwd

df = pd.read_csv('example') #csv

df.to_csv('my_output',index=False)

df

pd.read_excel('Excel_Sample.xlsx', sheet_name='Sheet1')

df.to_excel('Excel_Sample2.xlsx',sheet_name='NewSheet')

data = pd.read_html('http://www.fdic.gov/bank/individual/failed/banklist.html')

data[0]

use specific library for whatever your flavor of sql is - for example:

from sqlalchemy import create_engine

engine = create_engine('sqlite:///:memory:')

df.to_sql('my_table',engine)

sqldf = pd.read_sql('my_table', con=engine)

sqldf

sqldf.columns
sqldf.index
sqldf.info()

ecom['Email'].apply(lambda email: email.split('@')[1]).value_counts().head(5)